.button {
    -fx-text-fill:  #CBC3E3;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#301934, #301934);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
    -fx-font-size: 14px;
    /*-fx-font-weight:bold;*/
    -fx-text-fill: #301934;
    /*-fx-effect: dropshadow( gaussian , rgb(48, 25, 52), 0,0,0,1 );*/
}
.table-row-cell:selected {
    -fx-background-color: #301934;

}
.table-row-cell:selected .text {
    -fx-fill: #CBC3E3;
}
